body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, rgb(121, 121, 236), rgb(123, 233, 230));
    color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.header {
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #0f0f0f;
    z-index: 1;
}
.header img {
    height: 40px;
}
.nav {
    display: flex;
    gap: 20px;
}
.nav button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #30f9af; /* Màu nền */
    color: #fff; /* Màu chữ */
    text-decoration: none; /* Bỏ gạch chân */
    border-radius: 5px; /* Bo góc */
    transition: background-color 0.3s; /* Hiệu ứng chuyển động */
}

.nav a.button:hover {
    background-color: #0056b3; /* Màu nền khi hover */
}
.nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}
.search {
    display: flex;
    align-items: center;
    gap: 10px;
}
.search input {
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.search i {
    color: #00d8ff;
}
.container {
    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 80px;
    justify-content: center;
    
}
.game-card {
    background-color: #1a3a4a;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.game-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.game-card .info {
    padding: 10px;
    text-align: center;
}
.game-card .info h3 {
    margin: 10px 0;
    font-size: 18px;
}
.game-card .info .new {
    background-color: #00ff00;
    color: #000;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}
.game-card:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
    transition: box-shadow 1s;
    transition: transform 1s;
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s;

}
.my-element {
    display: inline-block;
    margin: 0 0.5rem;
    
    animation:jackInTheBox;/* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.5s; /* don't forget to set a duration! */
  }

